* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#App {
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
  color: rgb(255, 255, 255);
  width: 350px;
  height: 450px;
  background-color:rgb(50, 50, 50);
}

$buttons-bgcolors: (
  one:rgb(100, 100, 100),
  two:rgb(100, 100, 100),
  three:rgb(100, 100, 100),
  four:rgb(100, 100, 100),
  five:rgb(100, 100, 100),
  six:rgb(100, 100, 100),
  seven:rgb(100, 100, 100),
  eigth:rgb(100, 100, 100),
  nine:rgb(100, 100, 100),
  zero:rgb(100, 100, 100),
  equals:rgb(40, 100, 220),
  clear:rgb(220, 40, 40),
  add:rgb(130, 130, 130),
  substract:rgb(130, 130, 130),
  multiply:rgb(130, 130, 130),
  decimal:rgb(130, 130, 130),
  divide:rgb(130, 130, 130)
);

@each $id ,$bgcolors in $buttons-bgcolors {
  ##{$id}{
    background-color: $bgcolors;
  } 
}