*
  box-sizing: border-box

body
  width: 100%
  height: 100%
  font-family: 'Share Tech Mono', monospace
  
.container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  

.side
  width: 50%
  height: 100%
  padding: 25px 25px 25px 25px
  background-color: rgb(66, 77, 94)
  overflow: hidden
  transition: width .5s, padding .5s

.side header
  font-weight: bold
  color: rgb(211, 218, 229)
  max-width: 100%
  overflow: hidden
  height: 30px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  h2
    font-size: 1.2em
    margin: 4px 0 4px 0px
    box-shadow: insent
    overflow: hidden
  .btnToFullScreen
    position: relative
    bottom: 3px
    right: 3px
    width: 25px
    height: 25px
    border-radius: 2px
    background-color: rgba(211, 218, 229, 0.5)
    color: rgb(66, 77, 94)
    margin-left: 20px
    border: none
    overflow: hidden
    svg
      position: relative
      left: -6px
      bottom: 1px
      width: 25px
      height: 25px
      overflow: hidden
    &:hover
      cursor: pointer
      background-color: rgba(211, 218, 229, 0.8)

#editor, #preview
  width: 100%
  height: 95%
  background-color: rgb(211, 218, 229)
  box-shadow: inset 0px 0px 10px 3px rgb(150, 155, 163)
  border: 3px solid rgb(63, 66, 71)
  border-radius: 10px
  font-size: 14px
  line-height: 1.6em
  color: rgb(29, 37, 48)
  padding: 12px 20px

#editor
  resize: none

#preview
  font-family: 'Lato', sans-serif
  overflow: auto
  p
    font-size: 16px
  blockquote
    font-style: italic
    border-left: 4px solid rgb(63, 66, 71)
    padding-left: 2px
  code
    background-color: rgb(175, 200, 237)
  pre code
    display: block
    padding: 5px 5px
