* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: white;
  padding: 4vh 2vw;
}

#main {
  width: 100%;
  background-color: lightgray;
  padding: 2vh 2vw;
  border-radius: 5px;
}

header #title {
  margin: 0;
  text-align: center;
}

header p {
  text-align: center;
}

header #img-div {
  background-color: skyblue;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 5px;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#img-div #image {
  display: block;
  border-radius: 2px;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

#img-div #img-caption {
  text-align: center;
  max-width: 60vw;
  margin: 0 auto;
}

#tribute-info {
  max-width: 60vw;
  height: auto;
  margin-left: 20%;
}

#tribute-info ul {
  padding: 0;
  padding-left: 10px;
}

#tribute-info ul li{
  margin-bottom: 20px;
}

footer p{
  text-align: center;
  font-style: italic;
}

